@model ProjektMOIS.Model.ViewModels.PlayerStatsFilterViewModel
@{
    ViewBag.Title = "Statistiky hráčů";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Stats">Statistiky týmů</a></li>
                <li class="active"><a href="/Stats/Player">Statistiky hráčů</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @using (Html.BeginForm("Player", "Stats", FormMethod.Get, new { role = "form", @class = "form-inline" }))
            {
                <div class="form-group">
                    <label for="inputTeam" class="control-label">Tým: </label>
                    @Html.DropDownListFor(model => model.Player, (IEnumerable<SelectListItem>)ViewBag.PlayerItems, new { @class = "form-control", id = "inputTym", onchange = "this.form.submit();" })
                </div>
                <div class="form-group">
                    <label for="inputSeason" class="control-label">Sezóna: </label>
                    @Html.DropDownListFor(model => model.Season, (IEnumerable<SelectListItem>)ViewBag.SeasonItems, new { @class = "form-control", id = "inputSeason", onchange = "this.form.submit();" })
                </div>
                <div class="form-group">
                    <label for="inputC" class="control-label">Soutěž: </label>
                    @Html.DropDownListFor(model => model.Competition, (IEnumerable<SelectListItem>)ViewBag.CompetitionItems, new { @class = "form-control", id = "inputC", onchange = "this.form.submit();" })
                </div>
            }
            <hr>
            <h3>Přehled <small>celkové hodnoty</small></h3>
            @if (@ViewBag.Stats == null || @ViewBag.Stats.Count == 0)
            {
                <div class="alert alert-info">K dispozici nejsou žádná data.</div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[0].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[0].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[1].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[1].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[2].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[2].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[3].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[3].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[4].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[4].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[5].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[5].Key</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[6].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[6].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[7].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[7].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[8].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[8].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@ViewBag.Stats[9].Value</span>
                        <span class="key"><strong>@ViewBag.Stats[9].Key</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span class="value">@(ViewBag.Stats[4].Value != 0 ? Math.Round((double)ViewBag.Stats[2].Value / ViewBag.Stats[4].Value * 100, 2) : 0)%</span>
                        <span class="key"><strong>Úspěšnost střelby</strong></span>
                    </div>
                </div>
            }
            <hr>
            <h3>Podrobné statistiky</h3>
            <canvas id="radarChart" width="600" height="600"></canvas>
            <script>
                var ctx = document.getElementById("radarChart").getContext("2d");
                var data = {
                    labels: [],
                    datasets: [{
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        data: []
                    }]
                };

                @foreach (var item in ViewBag.RadarStats)
                {
                    <text>
                data.labels.push("@Html.Raw(@item.Key)");
                data.datasets[0].data.push(@item.Value);
                    </text>
                }

                new Chart(ctx).Radar(data, {
                    animation: false
                });
            </script>
        </div>
    </div>
</div>



